<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <h1>Pipes</h1>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Variable</th>
                                <th>Pipe</th>
                                <th>Salida</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ nombre }}</td>
                                <td>uppercase</td>
                                <td>{{ nombre | uppercase }}</td>
                            </tr>
                            <tr>
                                <td>{{ nombre }}</td>
                                <td>lowercase</td>
                                <td>{{ nombre | lowercase }}</td>
                            </tr>
                            <tr>
                                <td>{{ nombre }}</td>
                                <td>slice:3</td>
                                <td>{{ nombre | slice:3 }}</td>
                            </tr>
                            <tr>
                                <td>{{ nombre }}</td>
                                <td>slice:0:3</td>
                                <td>{{ nombre | slice:0:3 }}</td>
                            </tr>
                            <tr>
                                <td>{{ arrayNumeros }}</td>
                                <td>slice:0:3</td>
                                <td>{{ arrayNumeros | slice:1:5 }}</td>
                            </tr>
                            <tr>
                                <td>{{ PI }}</td>
                                <td>number</td>
                                <td>{{ PI | number }}</td>
                            </tr>
                            <tr>
                                <td>{{ PI }}</td>
                                <td>number:'1.0-3'</td>
                                <td>{{ PI | number:'1.0-3' }}</td>
                            </tr>
                            <tr>
                                <td>{{ PI }}</td>
                                <td>number:'3.0-0'</td>
                                <td>{{ PI | number:'3.0-0' }}</td>
                            </tr>
                            <tr>
                                <td>{{ PI }}</td>
                                <td>number:'.0-2'</td>
                                <td>{{ PI | number:'.0-2' }}</td>
                            </tr>
                            <tr>
                                <td>{{ porcentaje }}</td>
                                <td>percent</td>
                                <td>{{ porcentaje | percent }}</td>
                            </tr>
                            <tr>
                                <td>{{ porcentaje }}</td>
                                <td>percent:'2.2-2'</td>
                                <td>{{ porcentaje | percent:'2.2-2' }}</td>
                            </tr>
                            <tr>
                                <td>{{ salario }}</td>
                                <td>currency</td>
                                <td>{{ salario | currency }}</td>
                            </tr>
                            <tr>
                                <td>{{ salario }}</td>
                                <td>currency:'EUR'</td>
                                <td>{{ salario | currency:'EUR' }}</td>
                            </tr>
                            <tr>
                                <td>{{ salario }}</td>
                                <td>currency:'EUR':'symbol-narrow':'.0-0'</td>
                                <td>{{ salario | currency:'EUR':'symbol-narrow':'.0-0' }}</td>
                            </tr>
                            <tr>
                                <td>{{ valorPromesa }}</td>
                                <td>async</td>
                                <td>{{ valorPromesa | async }}</td>
                            </tr>
                            <tr>
                                <td>{{ fecha }}</td>
                                <td>date</td>
                                <td>{{ fecha | date }}</td>
                            </tr>
                            <tr>
                                <td>{{ fecha }}</td>
                                <td>date:'medium'</td>
                                <td>{{ fecha | date:'medium' }}</td>
                            </tr>
                            <tr>
                                <td>{{ fecha }}</td>
                                <td>date:'short'</td>
                                <td>{{ fecha | date:'short' }}</td>
                            </tr>
                            <tr>
                                <td>{{ fecha }}</td>
                                <td>date:'dd/MM/yyyy'</td>
                                <td>{{ fecha | date:'dd/MM/yyyy' }}</td>
                            </tr>
                            <tr>
                                <td>{{ fecha }}</td>
                                <td>date:'dd MMM'</td>
                                <td>{{ fecha | date:'dd MMMM' }}</td>
                            </tr>
                            <tr>
                                <td>{{ fecha }}</td>
                                <td>date:'dd MMM':'':'en'</td>
                                <td>{{ fecha | date:'dd MMMM':'':'en' }}</td>
                            </tr>
                            <tr>
                                <td>{{ fecha }}</td>
                                <td>date:'dd MMM':'':'en'</td>
                                <td>{{ fecha | date:'dd MMMM':'':'fr' }}</td>
                            </tr>
                            <tr>
                                <td>{{ fecha }}</td>
                                <td>date:'dd MMM':'':'{{idioma}}'</td>
                                <td>
                                    {{ fecha | date:'dd MMMM':'':idioma }}
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label (click)="idioma='es'" [class.active]="idioma==='es'" class="btn btn-secondary">es</label>
                                        <label (click)="idioma='en'" [class.active]="idioma==='en'" class="btn btn-secondary">en</label>
                                        <label (click)="idioma='fr'" [class.active]="idioma==='fr'" class="btn btn-secondary">fr</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>   
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-body">                    
                    <h1 class="text-center">Pipes personalizados</h1>
                    <div>
                        Generamos un pipe personalizado: <span class="text-info">ng g p pipes/pipes-personalizados/capitalizado</span><br>
                        Éste, si recibe true pasa a mayúscula la primera letra de cada palabra de la frase, 
                        y si recibe false solamente pasa a mayúscula la primera letra de la primera palabra de la frase.<br>
                        Por lo tanto, si pasamos la frase: "<strong>{{ frase }}</strong>" por el pipe nos queda: 
                        <ul>
                            <li>capitalizado:true -> {{ frase | capitalizado:true }}</li>
                            <li>capitalizado:false -> {{ frase | capitalizado:false }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-body">                    
                    <h1 class="text-center">Slice en *ngFor</h1>
                    <p>Si tenemos un array ...</p>
                    <pre>{{ heroes | json }}</pre>
                    <p>También podemos hacer un slice en un *ngFor (slice:2:5)</p>
                    <ul>
                        <li *ngFor="let item of heroes | slice:1:4">{{ item }}</li>
                    </ul>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-body">                    
                    <h1 class="text-center">JSON</h1>
                    <p>{{ heroe }}</p>
                    <pre>{{ heroe | json }}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
